@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$color-primary-50: #f0fafb;
$color-primary-100: #d9f1f4;
$color-primary-200: #b7e3ea;
$color-primary-300: #85cedb;
$color-primary: #44acc1;
$color-primary-500: #3194a9;
$color-primary-600: #2b778f;
$color-primary-700: #296275;
$color-primary-800: #295261;
$color-primary-900: #264553;
$color-primary-950: #142d38;

$color-error-50: #fff0f0;
$color-error-100: #ffdddd;
$color-error-200: #ffc0c0;
$color-error-300: #ff9494;
$color-error-400: #ff5757;
$color-error-500: #ff2323;
$color-error-700: #d70000;

$color-success-50 :#f0fce9;
$color-success-100: #dcf9ce;
$color-success-200: #bcf3a3;
$color-success-300: #91e96d;
$color-success-400: #52d025;
$color-success-500: #379917;
$color-success-600: #2c7516;

$font-family: "Montserrat", sans-serif;