@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$color-primary-50: #f0fafb;
$color-primary-100: #d9f1f4;
$color-primary-200: #b7e3ea;
$color-primary-300: #85cedb;
$color-primary: #44acc1;
$color-primary-500: #3194a9;
$color-primary-600: #2b778f;
$color-primary-700: #296275;
$color-primary-800: #295261;
$color-primary-900: #264553;
$color-primary-950: #142d38;

$font-family: "Montserrat", sans-serif;